[Unit]
Description=Apply Flatpak remote filter for Flathub
Documentation=man:flatpak-remote-modify(1)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak remote-modify --system --filter=/etc/flatpak/filters/flathub.filter flathub
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target