[Unit]
Description=User-scope system cleanup.
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/libexec/bog/springclean-user.sh

[Install]
WantedBy=default.target