[Unit]
Description=Jackett
After=network-online.target

[Container]
Image=lscr.io/linuxserver/jackett:latest
ContainerName=jackett

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Australia/Sydney
Environment=AUTO_UPDATE=false

Volume=%h/.config/jackett:/config:Z
Volume=%h/Downloads:/downloads:Z

PublishPort=9117:9117

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=60

[Install]
WantedBy=default.target