[Desktop Entry]
Name=Reinstall bog
Comment=Reinstall the current bog image from scratch (destructive).
Exec=kgx -- bash -ilc "bogreset"
Icon=/usr/share/icons/clean.svg
Terminal=false
Type=Application
Categories=System;
Keywords=reset;reinstall;bootc;factory;wipe;