[Desktop Entry]
Name=Git Repo
Comment=Track updates, report bugs and be generally annoying.
Exec=xdg-open https://github.com/chrislowles/bog
Icon=/usr/share/icons/git-symbolic.svg
Terminal=false
Type=Application
Categories=Internet;
Keywords=software;git;github;bugs;