[Desktop Entry]
Name=Git Repo
Comment=Track updates, report bugs and be generally annoying.
Exec=xdg-open https://github.com/chrislowles/bog
Icon=git-symbolic
Terminal=false
Type=Application
Categories=Internet;
Keywords=software;github;bugs;