[Desktop Entry]
Name=PCGamingWiki
Comment=Fixes and workarounds for every single PC game.
Exec=xdg-open https://www.pcgamingwiki.com
Icon=/usr/share/icons/pcgamingwiki.svg
Terminal=false
Type=Application
Categories=Game;
Keywords=proton;steam;gaming;