[Desktop Entry]
Name=ProtonDB
Comment=Check game compatibility ratings for Steam on Linux.
Exec=xdg-open https://www.protondb.com
Icon=/usr/share/icons/protondb.svg
Terminal=false
Type=Application
Categories=Game;
Keywords=proton;steam;linux;compatibility;gaming;