[Desktop Entry]
Name=System Upgrade
Comment=Upgrade the base.
Exec=kgx -- bash -c "get_the_new_shit"
Icon=view-refresh-symbolic
Terminal=false
Type=Application
Categories=System;
Keywords=update;upgrade;system;