[Desktop Entry]
Name=System Upgrade
Comment=Upgrade the base and apps.
Exec=foot bash -ilc "get_the_new_shit"
Icon=/usr/share/icons/update-symbolic.svg
Terminal=false
Type=Application
Categories=System;
Keywords=update;upgrade;system;