[Desktop Entry]
Name=System Upgrade
Comment=Update and upgrade everything on the system.
Exec=kgx -- bash -c "topgrade"
Icon=up-arrow-in-a-star-symbolic
Terminal=false
Type=Application
Categories=System;
Keywords=update;upgrade;topgrade;system;